CTOI Creation/

!CTOI Creation/uploaded_ctois.csv
!CTOI Creation/Results/
!CTOI Creation/Results/*
!CTOI Creation/Results/**
!CTOI Creation/Results/Data
!CTOI Creation/Results/Data/*


Exotic/
.venv/
__pycache__/

.DS_Store

eaConf.json
pl_names.json