CTOI Creation/

!CTOI Creation/uploaded_ctois.csv
!CTOI Creation/Results/
!CTOI Creation/Results/**
!CTOI Creation/Results/False Positives/
!CTOI Creation/Results/False Positives/**

Exotic/
.venv/
__pycache__/

.DS_Store

eaConf.json
pl_names.json