Exoplanet Discovering/

!Exoplanet Discovering/uploaded_ctois.csv
!Exoplanet Discovering/Paper Materials/
!Exoplanet Discovering/Paper Materials/**

Exotic/
.venv/
__pycache__/

.DS_Store

eaConf.json
pl_names.json